<!-- 
Course: WEBD-3008
Instructor: Wilson Reid
Author: Will Bowyer
Date Created: 27-10-24
Last Updated: 1-11-24
-->

<div class="container text-center mt-5">
  <h1 class="text-primary">Welcome to Will's Library</h1>
  <p class="lead">This is my Library for my Intro to Rails Project! Enjoy!</p>
</div>
